.list-container {
  width: 100%;
}

.list-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  border-radius: 8px;
  overflow: hidden;
}

.list-header,
.list,
.list-row {
  width: 100%;
  position: relative;
}

.list-row {
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  overflow: hidden;
}

.list {
  text-decoration: none;
  display: grid;
  gap: 8px;
  background-color: var(--secondary-background-color);
  padding: 16px;
  color: var(--primary-text-color);
}

.list:hover {
  background-color: var(--secondary-color);
  color: #ffffff;
}

.list-cell {
  align-items: center;
  font-size: 16px;
  text-decoration: none;
}

.list-name {
  font-size: 24px;
  font-weight: 100;
  font-family: var(--font-crimson-pro);
}

.list-cell::before {
  font-weight: 100;
}

.list-occasion::before {
  content: 'Occasion: ';
}

.list-date::before {
  content: 'Date: ';
}

.list-header .list-cell {
  background-color: var(--primary-color);
  color: #ffffff;
  font-family: var(--font-crimson-pro);
  font-size: 18px;
  letter-spacing: 0.5px;
  display: grid;
  align-items: center;
  padding: 5px 15px;
}

.delete-list-button {
  border: none;
  outline: none;
  border-radius: 0;
  cursor: pointer;
}

.delete-list-button:hover {
  background-color: #ff0000;
  color: #ffffff;
}

.error-message {
  color: #ff4d4f;
  font-size: 14px;
  margin-top: 4px;
  padding: 4px 0;
}

@media (min-width: 600px) {
  .list-grid {
    grid-template-columns: 1fr 200px 150px;
    border: 1px solid var(--primary-color);
    gap: 0;
  }

  .list-header,
  .list,
  .list-row {
    border: none;
    display: contents;
  }

  .list-cell::before {
    content: none;
  }

  .list-cell {
    padding: 15px;
    background-color: var(--secondary-background-color);
  }

  .list-row:nth-child(odd) .list-cell {
    background-color: var(--third-background-color);
  }

  .list-row:hover .list:hover .list-cell {
    background-color: var(--secondary-color);
    color: #ffffff;
  }

  .list-name {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font-roboto-condensed);
  }
}
  