.item-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(240px, 100%), 1fr));
  grid-auto-rows: min-content;
  gap: 20px;
}

.empty-item {
  padding: 40px 20px;
  border: 1px solid var(--primary-color);
  background-color: #111111;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 20px;
}

.empty-item h3 {
  font-size: 40px;
  font-family: var(--font-crimson-pro);
  font-weight: 100;
}

.empty-item p {
  font-size: 18px;
}

.sortable-item {
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
  gap: 4px;
}

.item-drag-overlay {
  cursor: grabbing;
}

.sortable-item.is-dragging,
.item-drag-overlay.is-dragging {
  opacity: 0.5;
}

.drag-handle {
  cursor: grab;
}

.drag-handle-icon {
    transform: translate(-5px, -5px);
}

.drag-handle:active,
body:has(.item-drag-overlay) {
  cursor: grabbing;
}


.item-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 50px;
  height: 100%;
}

.item {
  background-color: var(--background-color);
  display: grid;
  grid-template-rows: 200px auto;
  row-gap: 8px;
  column-gap: 16px;
  border-radius: 20px 20px 0 0;
  border: 2px solid var(--primary-color);
  border-bottom: none;
  position: relative;
  transition: all 1s;
  align-items: end;
  overflow: hidden;
}

.item-container.owner {
    grid-template-rows: 1fr;
}

.item-container.owner .item {
    border-radius: 20px;
    border: 2px solid var(--primary-color);
}

.item.preview {
  margin-bottom: 20px;
  border-width: 1px;
  height: min-content;
}

.item.purchased {
  border-color: var(--secondary-color);
  border-width: 2px;
}

.item.purchased .item-image-container {
  opacity: 0.25;
}

.item.purchased .itemName {
  opacity: 0.25;
  /* color: #ffffff; */
}

.item.purchased .storeLinks {
  opacity: 0.25;
}

.purchase {
  border-radius: 0 0 20px 20px;
}

.item-info {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 8px;
  align-items: end;
  padding: 10px;
  padding-top: 0;
}

.itemName {
  text-align: left;
  color: var(--secondary-color);
  font-family: var(--font-crimson-pro);
  width: 100%;
  font-size: 25px;
  font-weight: 100;
}

.item-image-container {
  text-align: center;
  background: #ffffff;
  border-radius: 8px;
  display: flex;
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.item-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.form-group.name-link-input {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
}

.form-group.occasion-quantity-input {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
}

.form-group.name-link-input .form-group,
.form-group.occasion-quantity-input .form-group {
  display: grid;
  grid-template-columns: 1fr;
}

.edit-button {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #ffffff;
  border: 2px solid var(--primary-text-color);
  color: var(--primary-text-color);
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.edit-button:hover {
  background-color: var(--primary-text-color);
  color: #ffffff;
}

.item.preview .edit-button {
  display: none;
}

.reorder-input-group {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  padding: 0.25rem;
}

.position-stepper {
  background-color: #ffffff;
  color: var(--primary-color);
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.position-stepper:hover {
  background-color: var(--primary-color);
  color: #ffffff;
  transform: translateY(-1px);
}

.position-input {
  padding: 8px;
  font-size: 16px;
  text-align: center;
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  background-color: #ffffff;
  color: var(--primary-color);
  transition: all 0.3s ease;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  width: -moz-fit-content;
  width: fit-content;
  /* min-width: 40px; */
  box-sizing: border-box;
}

.position-input::-webkit-outer-spin-button,
.position-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.position-input:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 0 2px rgba(13, 110, 253, 0.25);
}

.position-input::placeholder {
  color: #888;
}
  
  
  