/* Form */
.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
  justify-content: end;
}

/* Form Group */
.form-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4px;
}

/* Form Label */
.form-label {
  font-size: 1.15rem;
  font-weight: 100;
  font-family: var(--font-crimson-pro);
  color: var(--primary-text-color);
  text-align: left;
  display: flex;
  align-items: center;
}

.required::after {
  content: 'Required';
  color: var(--danger-color);
  font-size: 12px;
  font-style: italic;
  margin-left: 4px;
}

/* Form Input */
.form-input {
  display: flex;
  font-size: 16px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  background: transparent;
  padding: 0.5rem 0.75rem;
  transition:
    border-color 0.15s,
    box-shadow 0.15s;
  color: var(--primary-text-color);
  min-height: 37px;
}

.form-input-error {
  border-color: var(--danger-color);
}

.form-input:hover {
  cursor: text;
}

.form-input:focus {
  outline: none;
}

/* .price-input {
  margin-left: 10px;
} */

.price-input-container {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
}

/* Form Error */
.form-error {
  font-size: 12px;
  font-weight: 400;
  color: var(--danger-color);
  text-align: right;
  margin-left: 4px;
}

/* Loading Spinner */
.loading-spinner {
  animation: spin 1s linear infinite;
  margin-left: -0.25rem;
  margin-right: 0.5rem;
  height: 1rem;
  width: 1rem;
  color: currentColor;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.form-button-group {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
}

.button-group {
  display: flex;
  justify-content: center;
}
