:root {
  --primary-color: #7324ce;
  --secondary-color: #2264c1;
  --light-color: #ffffff;
  --secondary-light-color: #f5f5f5;
  --third-light-color: #e5e5e5;
  --dark-color: #000000;
  --secondary-dark-color: #111111;
  --third-dark-color: #222222;
  --danger-color: #ef4444;

  --background-color: var(--light-color);
  --secondary-background-color: var(--secondary-light-color);
  --third-background-color: var(--third-light-color);
  --primary-text-color: var(--primary-color);
  --contrast-text-color: var(--light-color);
  --danger-text-color: var(--danger-color);
  --transparent-overlay: rgba(0, 0, 0, 0.7);

  --max-width: 1500px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--dark-color);
    --secondary-background-color: var(--secondary-dark-color);
    --third-background-color: var(--third-dark-color);
    --primary-text-color: var(--light-color);
    --contrast-text-color: var(--primary-color);
    --danger-text-color: var(--light-color);
    --transparent-overlay: rgba(0, 0, 0, 0.7);
  }
} */

@media (max-width: 600px) {
  body [class*="mobile-hide"] {
    display: none;
  }
}

@media (max-width: 800px) {
  body [class*="nav-hide"] {
    display: none;
  }
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
  color: var(--primary-text-color);
}

body {
  font-family: var(--font-roboto-condensed);
  -webkit-font-smoothing: antialiased;
  /* background-color: var(--background-color); */
  height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-color);
  background-image: linear-gradient(
    120deg,
    var(--primary-color),
    var(--secondary-color)
  );
  background-attachment: fixed;
  pointer-events: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* This is the visible container with rounded corners */
.container {
  position: absolute;
  top: 153px;
  left: 16px;
  right: 16px;
  z-index: 1;
  padding: 20px;
  padding-bottom: 36px;
  max-width: var(--max-width);
  margin: 0 auto;
}

/* This is the background that stays fixed */
.container::before {
  content: '';
  position: fixed;
  top: 149px;
  left: 16px;
  right: 16px;
  bottom: 16px;
  background-color: var(--background-color);
  border-radius: 8px;
  z-index: -1;
  pointer-events: none;
  max-width: var(--max-width);
  margin: 0 auto;
}

.container:has(.no-user) {
  top: 93px;
}

.container:has(.no-user)::before {
  top: 93px;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
  color: var(--primary-text-color);
}

.header.saved-lists {
  margin-top: 16px;
}

.header .pageTitle {
  font-size: 40px;
  font-family: var(--font-crimson-pro);
  font-weight: 100;
  text-align: left;
}

.header .listDetails {
  text-align: left;
}

.header-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 16px;
  text-align: left;
  z-index: 50;
  background-image: linear-gradient(
    120deg,
    var(--primary-color),
    var(--secondary-color)
  );
  background-attachment: fixed;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 16px;
  align-items: center;
}

.menu::after {
  content: '';
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 16px;
  background-color: var(--primary-color);
  background-image: linear-gradient(
    120deg,
    var(--primary-color),
    var(--secondary-color)
  );
  background-attachment: fixed;
}

.logo {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linejoin: round;
  stroke-miterlimit: 2;
  width: 100%;
  max-width: 250px;
}

.logo path {
  fill-rule: nonzero;
}

.logo .title {
  fill: none;
  stroke: #ffffff;
  stroke-width: 5px;
}

/* Navigation Styles */
.nav-container {
  width: 100%;
  max-width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  order: 2;
  grid-column: span 2;
}

.nav-menu {
  font-size: 1.25rem;
  font-family: var(--font-crimson-pro);
  font-weight: 100;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  width: 80%;
  margin: 0 auto;
}

.nav-items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.logout-icon {
  margin-right: 10px;
}

.empty-container {
  padding: 40px 20px;
  border: 1px solid var(--primary-color);
  background-color: var(--secondary-background-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 20px;
  color: var(--primary-text-color);
}

.empty-container h3 {
  font-size: 40px;
  font-family: var(--font-crimson-pro);
  font-weight: 100;
}

.empty-container p {
  font-size: 18px;
}

@media (min-width: 550px) {
  .menu {
    grid-template-columns: 199px 1fr 45px;
  }

  .nav-container {
    order: 0;
    grid-column: span 1;
  }

  .container {
    top: 84px;
  }

  .container::before {
    top: 84px;
  }
}

@media (min-width: 800px) {
  .header {
    display: grid;
    grid-template-columns: 1fr auto;
  }

  .header .pageTitle {
    text-align: left;
  }

  .header .listDetails {
    text-align: left;
  }
}

.container:has(.list-details-container) {
  bottom: 0;
  padding: 0;
}

.container:has(.list-details-container)::before {
  display: none;
}