:root {
  --primary-color: #7324ce;
  --secondary-color: #2264c1;
  --light-color: #ffffff;
  --secondary-light-color: #f5f5f5;
  --third-light-color: #e5e5e5;
  --dark-color: #000000;
  --secondary-dark-color: #111111;
  --third-dark-color: #222222;
  --danger-color: #ef4444;

  --background-color: var(--light-color);
  --secondary-background-color: var(--secondary-light-color);
  --third-background-color: var(--third-light-color);
  --primary-text-color: var(--primary-color);
  --contrast-text-color: var(--light-color);
  --danger-text-color: var(--danger-color);
  --transparent-overlay: rgba(0, 0, 0, 0.7);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--dark-color);
    --secondary-background-color: var(--secondary-dark-color);
    --third-background-color: var(--third-dark-color);
    --primary-text-color: var(--light-color);
    --contrast-text-color: var(--primary-color);
    --danger-text-color: var(--light-color);
    --transparent-overlay: rgba(0, 0, 0, 0.7);
  }
}

@media (max-width: 600px) {
  body [class*="mobile-hide"] {
    display: none;
  }
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
  color: var(--primary-text-color);
}

body {
  font-family: var(--font-roboto-condensed);
  -webkit-font-smoothing: antialiased;
  /* background-color: var(--background-color); */
  height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  /* Background for the page */
  background-color: var(--primary-color);
  background-image: linear-gradient(
    120deg,
    var(--primary-color),
    var(--secondary-color)
  );
  background-attachment: fixed;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* This is the visible container with rounded corners */
.container {
  position: absolute;
  top: 150px;
  left: 8px;
  right: 8px;
  z-index: 1;
  padding: 20px;
  padding-bottom: 80px;
}

/* This is the background that stays fixed */
.container::before {
  content: '';
  position: fixed;
  top: 150px;
  left: 8px;
  right: 8px;
  bottom: 60px;
  background-color: var(--background-color);
  border-radius: 8px;
  z-index: -1;
  /* Ensure it's behind the content */
  pointer-events: none;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-bottom: 20px;
  color: var(--primary-text-color);
}

.header .pageTitle {
  font-size: 40px;
  font-family: var(--font-crimson-pro);
  font-weight: 100;
  text-align: center;
}

.header-buttons {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 10px;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 8px;
  height: 150px;
  text-align: left;
  z-index: 50;
  background-image: linear-gradient(
    120deg,
    var(--primary-color),
    var(--secondary-color)
  );
  background-attachment: fixed;
  box-sizing: border-box;
}

.logo {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linejoin: round;
  stroke-miterlimit: 2;
  width: 80%;
  max-width: 250px;
  margin-left: 20px;
}

.logo path {
  fill-rule: nonzero;
}

.logo .title {
  fill: none;
  stroke: #ffffff;
  stroke-width: 5px;
}

/* Navigation Styles */
.nav-container {
  width: 100%;
  padding: 8px 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.nav-menu {
  font-size: 1.25rem;
  font-family: var(--font-crimson-pro);
  font-weight: 100;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  width: 80%;
  margin: 0 auto;
}

.nav-items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.logout-icon {
  margin-right: 10px;
}

.empty-container {
  padding: 40px 20px;
  border: 1px solid var(--primary-color);
  background-color: var(--secondary-background-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 20px;
  color: var(--primary-text-color);
}

.empty-container h3 {
  font-size: 40px;
  font-family: var(--font-crimson-pro);
  font-weight: 100;
}

.empty-container p {
  font-size: 18px;
}

@media (min-width: 1000px) {
  body {
    overflow: hidden;
  }

  .container {
    top: 8px;
    left: 200px;
    right: 8px;
    bottom: 8px;
    padding: 30px;
    position: fixed;
    overflow-y: auto;
    border-radius: 8px;
    background-color: var(--background-color);
  }

  .container::before {
    display : none;
  }

  .menu {
    top: 28px;
    left: 0;
    bottom: 8px;
    width: 200px;
    height: auto;
  }

  .logo {
    width: 80%;
  }

  .nav-container {
    grid-template-columns: 1fr;
  }

  .header {
    grid-template-columns: 1fr auto;
  }

  .header .pageTitle {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .container {
    left: 250px;
    padding: 30px;
  }

  .menu {
    width: 250px;
  }
}

@media (min-width: 1400px) {
  .container {
    left: 300px;
    padding: 40px;
  }

  .menu {
    width: 300px;
  }
}